
.completedChB:checked ~ .card > .zoomer > .areaGlass {
	display: none;
}

.completedChB:checked ~ .card {
	background-color: #cca !important;
}

.cardMenuLabel {
	transition: 0.3s;
}

.cardMenuLabelDark {
	transition: 0.3s;
}

.completedChB:checked ~ .card > .cardMenu .cardMenuLabel {
	fill: #ffd !important;
}

.completedChB:checked ~ .card > .cardMenu .cardMenuLabelDark {
	fill: #cca !important;
}

.completedChB:checked ~ .card > .zoomer > .flipper > textarea {
	overflow-y: auto;
}

.completedChB:checked ~ .card > .cardMenu {
	visibility: visible;
	opacity: 1;
}

.deleteButtonChB:checked ~ .card {
	display: none;
}

.sideChB:checked + .flipper {
	transform: rotateY(0deg);
}

.card:hover {
	z-index: 1048574;
	transform: translate(-6px, 20px) skew(-4deg, 4deg);
	transition: transform 0.1s 5s;
}

#editMode:checked ~ #cardsTableDeck > .cardsColumn > .cardWrapper > .card:hover {
	transform: none;
}

.completedChB:checked ~ .card:hover {
	transform: none;
}

@keyframes cardMenuOpacityF {
	5% {opacity: 0.3}
	95% {opacity: 0.3}
	100% {opacity: 1}
}

@keyframes cardMenuOpacityB {
	5% {opacity: 0.3}
	95% {opacity: 0.3}
	100% {opacity: 1}
}