
.completedChB:checked ~ .card > .zoomer > .areaGlass {
	display: none;
}

.completedChB:checked ~ .card {
	background-color: #ffd !important;
}

.completedChB:checked ~ .card > .zoomer > textarea {
	overflow-y: auto;
}

.completedChB:checked ~ .card > .cardMenu {
	display: block;
}

.deleteButtonChB:checked ~ .card {
	display: none;
}

.sideChB:checked ~ .faceArea {
	transform: perspective(1000px) rotateY(360deg);
}

.sideChB:checked + .backArea {
	transform: perspective(1000px) rotateY(180deg);
}