.evenOdd:nth-child(even) {
	display: none;
}

#editMode:checked ~ #header > .evenOddParent > .evenOdd:nth-child(even) {
	display: inline-block;
}

#editMode:checked ~ #header > .evenOddParent > .evenOdd:nth-child(odd) {
	display: none;
}

#editMode:checked ~ #cardsTableDeck > .cardsColumn > .cardWrapper > .card {
	background-color: #ddf;
}

#editMode:checked ~ #cardsTableDeck > .cardsColumn > .cardWrapper > .card > .cardMenu {
	display: block;
}