.empty {
  height: 70px;
}

.mobile {
  width: 100%;
  position: absolute;
  top: -50px; 
}

.animatoria {
  top: 0;
  z-index: 11;
}

header {
}

.buttonImgMobile {
  display: inline-block;
  height: 20px;
}

