.empty {
  height: 70px;
}

.mobile {
  width: 100%;
  position: absolute;
  top: -50px; 
}

.animatoria {
  width: calc(100% - 50px);
}

header {
}

.buttonImgMobile {
  display: inline-block;
  height: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}