    * {
      margin = 0;
    }

    label {

    }

    body {
      margin: 0;
      width: 100%;
    }

    .body {
      margin: auto;
    }

    .card {
      background-color: #dfd;
      position: relative;
      margin: 2px;
      display: inline-block;
      perspective: 1000px;
    }

    .cardMenu {
      width: 100%;
    }

    .deleteButton {
      float: right;
    }

    .completed {

    }

    .zoomer {
      perspective: 1000px;
    }

    .flipper {
      transition: 2s;
      transform-style: preserve-3d;
    }

    textarea {
      font-size: 33px;
      font-family: consolas;
      outline: none;
      display: block;
      resize: none;
      backface-visibility: hidden;
    }

    .backArea {
      transform: rotateY(180deg);
      position: absolute;
      top: 0;
    }

    .header {
      margin: 0;
    }

    .headerItem {
      font-size: 30px;
    }

    .buttonImg {
      margin: 0 18px 0 12px;
      height: 20px;
    }

    .rubberBody {
      margin: 0;
      background-color: #fdd;
    }

    .storedDate {
      height: 30px;
      background-color: #ddf;
      width: 30%;
      border: 1px solid black;
    }

    .storedTheme {
      height: 30px;
      background-color: #ddf;
      width: 30%;
      border: 1px solid black;
    }

    .addNewCard {
    }

    header {
      z-index: 1048575;
      top : 0px;
      position: fixed;
      background-color: #fdd;
    }

    p {
      display: inline-block;
      margin: 0;  
    }

    .masterInformation {
      display: block;
    }

    @keyframes forward {
      50% {
        transform: translateZ(200px) translateX(10%) translateY(10%);
      }
      100% {
        transform: translateZ(0px) translateX(0px);
      }
    }

    @keyframes backward {
      50% {
        transform: translateZ(200px) translateX(10%) translateY(10%);
      }
      100% {
        transform: translateZ(0px) translateX(0px);
      }
    }    

    @font-face {
      font-family: consolas;
      src: url(consolas.ttf);
    }