.empty {
  height: 70px;
}

.mobile {
  width: 100%;
  position: absolute;
  top: -50px; 
}

.animatoria {
}

header {
}

.buttonImgMobile {
  display: inline-block;
  height: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.addNewCard {
  border-top: 1px solid #000;
}