#cardsTableDeck {
	margin: 0;
	display: none;
	justify-content: space-around;
	align-items: flex-start;
	min-height: 300px;
}

.columnWrapper {
	width: 33%;
}

.cardBlank {
	border-radius: 5px 30px 30px 30px;
	display: none;
	cursor: pointer;
	background-color: #dfd;
	margin: 10px auto;
}