.monthList {
	width: 350px;
}

.day {
	margin: 5px;
	height: 40px;
	width: 40px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
}

.greenDay {
	background-color: green;
	cursor: pointer;
}

.redDay {
	background-color: red;
	cursor: pointer;
}

.yearDiv, .monthDiv{
	position: relative;
	width: 350px;
	height: 50px;
	background-color: #ddf;
}

.leftArrow {
	width: 50%;
	height: 50px;
	float: left;
	cursor: pointer;
}

.rightArrow {
	width: 50%;
	height: 50px;
	float: right;
	cursor: pointer;
}

#year, #month {
	position: absolute;
	width: 100px;
	height: 50px;
	right: calc(50% - 50px);
	text-align: center;
	line-height: 50px;
	background-color: #fdd;
}