.card {
	width: 100%;
	margin: 10px auto;
	position: relative;
	background-color: #dfd;
	perspective: 1000px;
	border-radius: 0 0 30px 30px;
}

.cardMenu {
	width: 100%;
	display: none;
}

.completed {
	text-align: center;
	color: #6f8a91;
	width: 100%;
	font-size: 25px;
	cursor: pointer;
}

.deleteButton {
	color: #6f8a91;
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 25px;
	cursor: pointer;
}

.zoomer {
	width: 100%;
	perspective: 1000px;
}

.flipper {
	width: 100%;
	transition: 2s;
	transform-style: preserve-3d;
	transform: rotateY(180deg);
}

.areaGlass {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	cursor: pointer;
}

textarea {
	box-sizing: border-box;
	width: 100%;
	font-family: monospace;
	font-size: 33px;
	font-weight: 700;
	outline: none;
	display: block;
	resize: none;
	backface-visibility: hidden;
	text-align: center;
	overflow: hidden;
	padding: 30px 5px 30px 5px;
	color: #6f8a91;
	transition: 2s;
}

.faceArea {
	border-radius: 5px 30px 30px 30px;
	transform: rotateY(180deg);
}

.backArea {
	transform: rotateY(0deg);
	position: absolute;
	top: 0;
	background: linear-gradient(rgba(0,0,0,0) 25px, rgba(255,255,255,0.7) 25px, rgba(255,255,255,0.7) calc(100% - 25px), rgba(0,0,0,0) 0), linear-gradient(60deg, #fff 50%, #f9d8a2 0);
	background-size: 100% 100%, 5px 5px;
	border-radius: 30px 5px 30px 30px;
}

@keyframes forward {
	50% {
		transform: translateZ(200px) translateX(10%) translateY(10%);
	}
	100% {
		transform: translateZ(0px) translateX(0px);
	}
}

@keyframes backward {
	50% {
		transform: translateZ(200px) translateX(10%) translateY(10%);
	}
	100% {
		transform: translateZ(0px) translateX(0px);
	}
}