.card {
	margin: 10px auto;
	position: relative;
	background-color: #dfd;
	perspective: 1000px;
	border-radius: 0 0 30px 30px;
}

.cardMenu {
	width: 100%;
}

.deleteButton {
	float: right;
}

.completed {}

.zoomer {
	perspective: 1000px;
}

.flipper {
	transition: 2s;
	transform-style: preserve-3d;
}

textarea {
	font-size: 33px;
	font-weight: 600;
	font-family: consolas;
	outline: none;
	display: block;
	resize: none;
	backface-visibility: hidden;
	text-align: center;
	overflow-x: hidden;
	padding: 30px 0 30px 0;
	color: #6f8a91;
}

.faceArea {
	border-radius: 30px 5px 30px 30px;
}

.backArea {
	transform: rotateY(180deg);
	position: absolute;
	top: 0;
	background: linear-gradient(rgba(0,0,0,0) 25px, rgba(255,255,255,0.7) 25px, rgba(255,255,255,0.7) calc(100% - 25px), rgba(0,0,0,0) 0), linear-gradient(60deg, #fff 50%, #f9d8a2 0);
	background-size: 100% 100%, 5px 5px;
	border-radius: 5px 30px 30px 30px;
}

@keyframes forward {
	50% {
		transform: translateZ(200px) translateX(10%) translateY(10%);
	}
	100% {
		transform: translateZ(0px) translateX(0px);
	}
}

@keyframes backward {
	50% {
		transform: translateZ(200px) translateX(10%) translateY(10%);
	}
	100% {
		transform: translateZ(0px) translateX(0px);
	}
}